[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/unite-outline"]
	path = bundle/unite-outline
	url = https://github.com/Shougo/unite-outline.git
[submodule "bundle/vim-blade"]
	path = bundle/vim-blade
	url = https://github.com/xsbeats/vim-blade.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/vimshell.vim"]
	path = bundle/vimshell.vim
	url = https://github.com/Shougo/vimshell.vim.git
[submodule "bundle/phpcomplete.vim"]
	path = bundle/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/neosnippet.vim"]
	path = bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "bundle/neosnippet-snippets"]
	path = bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/caw.vim"]
	path = bundle/caw.vim
	url = https://github.com/tyru/caw.vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/vim-webdevicons"]
	path = bundle/vim-webdevicons
	url = https://github.com/ryanoasis/vim-webdevicons
[submodule "bundle/unite-tag"]
	path = bundle/unite-tag
	url = https://github.com/tsukkee/unite-tag.git
[submodule "bundle/auto-ctags.vim"]
	path = bundle/auto-ctags.vim
	url = https://github.com/soramugi/auto-ctags.vim.git
[submodule "bundle/dash.vim"]
	path = bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
